<?php $this->layout()->setLayout('page'); ?>

<h3>Admin Panel</h3>
<ul>
	<li><a href="/admin/config">Manage Pages</a></li>
	<li><a href="/admin/config">Manage Menus</a></li>
	<li><a href="/admin/config">Manage Users</a></li>
	<li><a href="/admin/config">Manage Bugs</a></li>
	<li><a href="/admin/config">Build Search Index</a></li>
	<li><a href="/admin/config">Site Configuration</a></li>
</ul>
